@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

h1 {
  font-family: "Berkshire Swash", cursive;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 25%;
}
